.App {
  text-align: center;
}

.container{
  height: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-wrapper{
  justify-content: center;
  border: 2px solid grey;
  box-shadow: cornsilk;
  background-color: 'white';
  padding: 10px;
  margin: 15px;
}

.button{
  width: 90px;
  height: 30px;
  margin: 4px;
  border-radius: 8px;
  font-family: 'BlinkMacSystemFont';
  font-size: '18px';
  font-weight: 600;
}

#like:focus {     
  background-color: blue;  
  color: white;  
}

#dislike:focus {     
  background-color: red;    
  color: white;
}

.count{
  width: 90px;
  height: 30px;
  margin: 12px;
  border-radius: 8px;
  font-family: 'BlinkMacSystemFont';
  font-size: '18px';
  font-weight: 600;
}